
body {
    font-family: Arial, sans-serif;
     background: linear-gradient(to bottom right, #1e7099, #a4dfff);
    color: white;
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style: none;
    margin: 0 2px;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #7BA8BE;
}

a {
    text-decoration: none;
    color: #2C3E50; 
}

nav {
    font-size: 40px;
}

h1 {
    color: #fbfbfb;
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

a:hover {
    color: #bce9f1; 
    font-weight: bold;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    transition: color 0.3s ease;
}


/*!important is added to override FullCalendar's default styles
.fc is the default class that wraps the entire FullCalendar component*/

.fc-col-header-cell-cushion {
    color: white !important;
    font-weight: bold;
}


.fc-daygrid-day-number {
    color: white !important;
    font-weight: 500;
}


.fc .fc-button {
    background-color: #1a57ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.fc .fc-button {
    background-color: rgb(25, 85, 253) !important;
    color: #c5f0fa !important;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fc .fc-button:hover {
    background-color: #2100ff !important;
}

#dropdown {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}
