a:hover {
    color: #bce9f1; 
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    transition: color 0.3s ease;
}

h1 {
    text-align: center;
    color: #060708;
    font-size-adjust: inherit;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #5789A2;
}

ul {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #7BA8BE; 
    font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  color: #2C3E50; 
}


nav {
    font-size: 40px;
    font-family: Arial, sans-serif;
}

.error-msg {
  color: #c5f0fa;
  background-color: #229ff3;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

input::placeholder {
  color: #66c2fc;
  font-style: italic;
}

p {
  font-size: 40px;
}