<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Agile_Project</title>
</head>
<body>
    <h1> Welcome </h1>

    <h1> Agenda </h1>
    <div class="nav"></div>
    <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Emails</a></li>
          <li><a href="#contact">Contacts</a></li>
        </ul>
    </nav>
  
    <div class="container">
        <div class="box">
            <a href="{{ url_for('calendar_view') }}">Calendar</a>
        </div>
        <a href="notes.html" class="box">
            <p>Notes</p>
        </a>
    </div>
</body>
</html>