<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Agile_Project</title>
</head>
<body>
    <h1> Welcome </h1>

    <h1> Agenda </h1>
    <div class="nav"></div>
    <nav>
        <ul>
          <li><a href="#home"><img src="images/home.webp" alt="Home" style="width:24px;"></a></li>
          <li><a href="#calendar"><img src="images/calendar.png" alt="Calendar" style="width:24px;"></a></li>
          <li><a href="#notes"><img src="images/notes.png" alt="" style="width:24px;"></a></li>
        </ul>
    </nav>



</body>
</html>